.vaszon {
  width: 90%;
  background-color: rgba(255, 165, 0, .3);
  margin: auto;
  border-radius: 5px;
  font-family: Monospace;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cim {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}
.kep-doboz {
  background-color: rgba(180, 180, 180, .3);
  width: 80%;
  margin: auto;
  border-radius: 5px;
}
img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.kep-szoveg {
  text-align: center;
  padding: 5px;
}
.leiras {
  width: 78%;
  margin: auto;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: justify;
}
.idezet {
  width: 75%;
  margin: auto;
  padding: 10px;
  line-height: 1.5rem;
}
.idezo {
  width: 90%;
  text-align: right;
  padding: 10px;
}
.harmadik-blok {
  width: 30%;
  margin: auto;
  padding: 20px;
}
.jelkep {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icon {
  text-align: center;
}
.info {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}
.pen {
  text-align: right;
  margin-right: 10%
}
@media (max-width: 900px) {
  .cim {
    font-size: 1.5rem;
  }
  .harmadik-blok {
    width: 50%;
  }
}
@media (max-width: 690px) {
  .cim {
    font-size: 1rem;
  }
}